<div class="about">
    <h2>Toy Store</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor porro nobis minus. Quis dolorum inventore sit, quisquam iste officiis incidunt impedit doloribus reiciendis illum nisi nihil similique quibusdam itaque nostrum.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor porro nobis minus. Quis dolorum inventore sit, quisquam iste officiis incidunt impedit doloribus reiciendis illum nisi nihil similique quibusdam itaque nostrum.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor porro nobis minus. Quis dolorum inventore sit, quisquam iste officiis incidunt impedit doloribus reiciendis illum nisi nihil similique quibusdam itaque nostrum.</p>
</div>